<!DOCTYPE HTML>
<html lang="en">
{% extends "blog.html" %}
{% block title %}Create a Post{% endblock %}
{% block masonry %}{% endblock %}

{% block image %}"background-image: url('static/img/create-bg.jpg')"{% endblock %}
{% block content %}<h1>Let's Create {{username}}!</h1>{% endblock %}
{% block body %}    

    <!-- Main Content -->
    <div class="container">
      <div class="row">
	<div class="col-lg-8 col-lg-offset-2 text-center">
	  <h1>What do you want to say?</h1>
	  <hr class="small">
	  Post Title:
	  <br>
	  <input type="text" name="title" form="postform">
	  <hr class="small">
	  Post Content:
	  <br>
	  <textarea name="post" form="postform" style="width:90%; height:500px;">
	  </textarea>
	  <form method="POST" action="myposts" id="postform" style="padding:5px;">
	    <input type="submit" name="submit" value="Post">
	  </form>
	</div>
      </div>
	  
	  <hr class="small" style="display:hidden;">
	  
    </div>
{% endblock %}
{% block masonry_js %}{% endblock %}

</html>
