<!DOCTYPE HTML>
<html lang="en">
{% extends "blog.html" %}
{% block title %}Create a Post{% endblock %}
{% block masonry %}{% endblock %}

{% block body %}    
   <!-- Navigation -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Bloginator</a>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
          <li>
	    <a href="/" target="_top">Home</a>
	  </li>
	  {% if session["loggedIn"] %}
	  <li>
	    <a href="/myposts" target="_top">My Posts</a>
	  </li>
	  <li>
		<a href="/createpost" target="_top">Create</a>
	  </li>
	  <li>
		<a href="/logout" target="_top">Logout</a>
	  </li>
	  {% else %}
		<li>
			<a href="/login" target="_top">Login</a>
		</li>
	  {% endif %}
	</ul>
        </div>
        <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/create-bg.jpg')">
      <div class="container">
	<div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading">
              <h1>Let's Create {{username}}!</h1>
              <hr class="small">
              <span class="subheading">This is a place to share.</span>
            </div>
          </div>
	</div>
      </div>
    </header>


    <!-- Main Content -->
    <div class="container">
      <div class="row">
	<div class="col-lg-8 col-lg-offset-2 text-center">
	  <h1>What do you want to say?</h1>
	  <hr class="small">
	  Post Title:
	  <br>
	  <input type="text" name="title" form="postform">
	  <hr class="small">
	  Post Content:
	  <br>
	  <textarea name="post" form="postform" style="width:90%; height:500px;">
	  </textarea>
	  <form method="POST" action="myposts" id="postform" style="padding:5px;">
	    <input type="submit" name="submit" value="Post">
	  </form>
	</div>
      </div>
	  
	  <hr class="small" style="display:hidden;">
	  
    </div>
{% endblock %}
{% block masonry_js %}{% endblock %}

</html>
