<!DOCTYPE HTML>
<html lang="en">
{% extends "blog.html" %}

{% block title %}Login{% endblock %}
{% block masonry %}{% endblock %}

{% block image %}"background-image: url('static/img/login-bg.jpg')"{% endblock %}
{% block content %}<h1>Log in and Begin</h1>{% endblock %}

{% block body %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="text-center">
	  
	{% if error %}
	<style>
	  input[type="text"], input[type="password"] {
	  border:1px solid red;
	  }
	</style>
	<p style="color:red; margin-bottom:0; margin-top:0;">{{error}}</p>
	{% endif %}
	<form method="POST" action="login" style>
	  Username:
	  <br>
	  <input type="text" name="username">
	  <hr class="small" style="disply:hidden">
	  Password:
	  <br>
	  <input type="password" name="password">
	  <hr class="small" style="disply:hidden">
	  <input type="submit" name="submit" value="Submit" class="btn btn-default">
		<hr class="small" style="display:hidden;">
		<a href="/signup" class="btn btn-default">
			Create User
		</a>
	</form>
	
	<hr class="small" style="display:hidden;">
	  
	 </div>
    </div>
  </div>
  
{% endblock %}
{% block masonry_js %}{% endblock %}

</html>
