<!DOCTYPE HTML>
<html lang="en">
{% extends "blog.html" %}

{% block title %}MyPosts{% endblock %}

{% block body %}
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Bloginator</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
          <li>
	    <a href="/" target="_top">Home</a>
	  </li>
	  {% if session["loggedIn"] %}
	  <li>
	    <a href="/myposts" target="_top">My Posts</a>
	  </li>
	  <li>
		<a href="/createpost" target="_top">Create</a>
	  </li>
	  <li>
		<a href="/logout" target="_top">Logout</a>
	  </li>
	  {% else %}
		<li>
			<a href="/login" target="_top">Login</a>
		</li>
	  {% endif %}
	</ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('static/img/myposts-bg.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="page-heading">
            <h1>Welcome to Bloginator {{username}}!</h1>
            <hr class="small">
            <span class="subheading">This is a place to share.</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="text-center">
		<div id="main">
		<!--Format for blog posts (Pinterest-style tiles)-->
		<div class="grid">
		  <div class="post-row">
			{% if userPosts %}
			{% set c = 0 %}
			{% for i in userPosts %}
				<div class="item">
					<span class="time-tag">
							{{i[2]}}
					</span>
					<hr class="small" style="display:hidden;">
					<div class="info">
						<h2 class="post-title">{{i[0]}}</h2>
						{% if editing == c|string %}
						<textarea name="edit" form="editform">{{i[1]}}</textarea>
						</div>
					<form method="POST" id="editform">
					  <input type="hidden" name="editedID" value="{{c}}">
					  <input type="submit" name="submit" value="Edit">
					</form>
						{% else %}
						<p class="post-subtitle">
							{{i[1]}}
						</p>
					</div>
					<form method="POST">
					  <input type="hidden" name="BlogID" value="{{c}}">
					  <input type="submit" name="submit" value="Edit Post">
					</form>
					{% endif %}
					<hr class="small" style="display:hidden;">
				</div>
			{% set c = c + 1 %}
			{% endfor %}
			{% endif %}
		</div>
	</div>
	
	</div>
	
		<div id="sidebar">
			<a href="/createpost" class="btn btn-default btn-xl">
				Create
			</a>
			<a href="/logout" class="btn btn-default btn-xl">
				Log out
			</a>
		</div>
	
		<hr class="small" style="display:hidden;">
	
      </div>
    </div>
  </div>
{% endblock %}

