<!DOCTYPE HTML>
<html lang="en">
{% extends "blog.html" %}

{% block title %}SignUp{% endblock %}
{% block masonry %}{% endblock %}

{% block image %}"background-image: url('static/img/login-bg.jpg')"{% endblock %}      
{% block content %}<h1>Let's Start Over</h1>{% endblock %}

{% block body %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="text-center">
	  
	{% if error %}
	<style>
	  input[type="text"], input[type="password"] {
	  border:1px solid red;
	  }
	</style>
	<p style="color:red; margin-bottom:0; margin-top:0;">{{error}}</p>
	{% endif %}
<form method="POST" action="signup">
  Username:
  <br>
  <input type="text" name="username">
  <br>
  <br>
  Password:
  <br>
  <input type="password" name="password">
  <br>
  <br>
  Confirm password:
  <br>
  <input type="password" name="confirmPassword">
  <br>
  <br>
  <input type="submit" name="submit" value="Submit" class="btn btn-default btn-xl">
</form>
	  
	  <hr class="small" style="display:hidden;">
	  
	 </div>
    </div>
  </div>
{% endblock %}  
{% block masonry_js %}{% endblock %}
</html>
